{% extends "municipal_layout.html" %}
{% block title %}Main corridor{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">

    .bg {
        /* The image used */
        background-image: url("{{ url_for('static', filename='img/report.jpg') }}");
    
        /* Full height */
        
        height: 768px;
        width: 1152px;
        
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
  </style>
{% endblock %}
{% block content %}

<div class="bg">
</div>



{% endblock %}