{% extends "municipal_layout.html" %}
{% block title %}Main corridor{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .bg {
        /* The image used */
        background-image: url("{{ url_for('static', filename='img/utility_room.jpg') }}");
    
        /* Full height */
        
        height: 768px;
        width: 1152px;
        
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .passive_collors{
        background-color: #f5f5f577;
      }
      .back_button{
        background-color: #60586955
      }
      .into_button{
        background-color: #f5c842aa
      }
  </style>
{% endblock %}
{% block content %}
<script>
  $(document).ready(function(){
    $('#initModal').show();
})

function goInto(){
    $('#initModal').hide();
    $('#inChestModal').show();
}
function goBack(){
    window.location.href = "{{url_for('index')}}";
}
</script>
<div class="bg">
</div>

<div class="modal" tabindex="-1" id="initModal">
    <div class="modal-dialog ">
      <div class="modal-content passive_collors">
        <div class="modal-header">
          <h5 class="modal-title">Что-то интересненькое!</h5>
        </div>
        <div class="modal-body">
          <p>Вы замечаете большой сундук!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary back_button" data-bs-dismiss="modal" onclick="goBack()">Уйти</button>
          <button type="button" class="btn btn-primary into_button" onclick="goInto()" >Заглянуть внутрь</button>
        </div>
      </div>
    </div>
  </div>
  

  <div class="modal" tabindex="-1" id="inChestModal">
    <div class="modal-dialog">
      <div class="modal-content passive_collors">
        <div class="modal-header">
          <h5 class="modal-title">Увы...</h5>
        </div>
        <div class="modal-body">
          <p>Там полно щёток!</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary back_button" data-bs-dismiss="modal" onclick="goBack()">Уйти</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}